@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #0d1216;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: #594925;
    border-radius: 8px;
    border: 2px solid #0d1216;
}

::-webkit-scrollbar-thumb:hover {
    background: #ebae3a;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #594925 #0d1216;
}

html {
    scroll-behavior: smooth;
}